<!-- categories -->
<!-- not sure what this is for? --><p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Categories</h1>
      <!-- products index page has a select tag -->
    </div>
  </div>


<hr>

<div class="row"id= "categories_list">
  <!-- # this is coming from products list.html.erb its getting rendered -->
  <div class="col-sm-12">
  <%= render "categories_list" , categories: @categories%>
</div>
</div>

</div>

<!-- products index has the ajax script -->


<div class="row">
  <div class="col-sm-12">
<%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
  </div>
</div>
