<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%=select_tag(:category, options_for_select(@categories))%>
<div id= "products_list">


<!-- # this is coming from products list.html.erb its getting rendered -->
<%= render "products_list" , products: @products%>

</div>
<br>
<!--js ajax -->
<script>
$("#category").on("change", function(e){
console.log($("#category").val());

$.ajax({
  url: "/products/filter_products",
  dataType: "script",
  method: "GET",
  data: {
    category_id: $("#category").val()
  }
})

});
</script>

<%= link_to 'New Product', new_product_path %>
