
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Products</h1>
      <%=select_tag(:category, options_for_select(@categories), class: "form-control")%>
    </div>
  </div>

  <hr>

  <div class="row"id= "products_list">
    <!-- # this is coming from products list.html.erb its getting rendered -->
    <div class="col-sm-12">
    <%= render "products_list" , products: @products%>
  </div>
  </div>



</div>

<!--js ajax -->

</div>
<script>
$("#category").on("change", function(e){
console.log($("#category").val());

$.ajax({
  url: "/products/filter_products",
  dataType: "script",
  method: "GET",
  data: {
    category_id: $("#category").val()
  }
})

});
</script>
<div class="row">
  <div class="col-sm-12">
<%= link_to 'New Product', new_product_path,
                          class: "btn btn-success" %>
  </div>
</div>
